.col-md-offset-3.col-md-6
  .panel.panel-default
    .panel-heading
      .panel-title
        i.fa.fa-edit.fa-fw
        | &nbsp; Add contact
    .panel-body
      form(method="post", action="/add")
        .input-group
          span.input-group-addon: i.fa.fa-calendar-o.fa-fw
          input.input-year.form-control(type="text", name="year", placeholder="Enter a year", required)

        .input-group
          span.input-group-addon: i.fa.fa-calendar.fa-fw
          select.input-month.form-control(name="month")
            option(value="1") Enero
            option(value="2") Febrero
            option(value="3") Marzo
            option(value="4") Abril
            option(value="5") Mayo
            option(value="6") Junio
            option(value="7") Julio
            option(value="8") Agosto
            option(value="9") Septiembre
            option(value="10") Octubre
            option(value="11") Noviembre
            option(value="12") Diciembre

        .input-group
          span.input-group-addon: i.fa.fa-building-o.fa-fw
          input.input-org.form-control(type="text", name="org", placeholder="Enter a organization", required)

        .input-group
          span.input-group-addon: i.fa.fa-map-marker.fa-fw
          input.input-region.form-control(type="text", name="region", placeholder="Enter a region", required)

        .text-center
          button.btn.btn-default(type="submit") Add

script(src="/js/add.js")
